In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [12]:
df.shape

(150, 5)

selection and filtering

In [ ]:
# How to grab specific slices of your data.

# df['column_name']: Select a single column.

# df.iloc[]: Select by integer-location (index).

# df.loc[]: Select by labels/conditions.

In [13]:
df['petal_length']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64

In [16]:
df[['sepal_length','sepal_width']]

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [17]:
df[df['sepal_length']>4.5]

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[145 rows x 5 columns]

In [18]:
df[(df['sepal_length']>4.5) & (df['species']=='setosa')]  #and

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [22]:
df[(df['petal_length']>4.5) | (df['species']=='setosa')]   #or

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[113 rows x 5 columns]

In [23]:
#add new column in existing data
mapping = {
    'setosa': 0,
    'versicolor': 1,
    'virginica': 2
}

df['numeric_specis'] = df['species'].map(mapping)
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,numeric_specis
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0

In [24]:
df['modified_sepal_len'] = df['sepal_length']*10
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,numeric_specis,modified_sepal_len
0,5.1,3.5,1.4,0.2,setosa,0,51.0
1,4.9,3.0,1.4,0.2,setosa,0,49.0
2,4.7,3.2,1.3,0.2,setosa,0,47.0
3,4.6,3.1,1.5,0.2,setosa,0,46.0
4,5.0,3.6,1.4,0.2,setosa,0,50.0

In [25]:
df.drop("modified_sepal_len",axis=1,inplace=True)
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,numeric_specis
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0

In [26]:
df.sort_values(by="sepal_length",ascending=False)  #sort the data by column values

,sepal_length,sepal_width,petal_length,petal_width,species,numeric_specis
131,7.9,3.8,6.4,2.0,virginica,2
122,7.7,2.8,6.7,2.0,virginica,2
118,7.7,2.6,6.9,2.3,virginica,2
117,7.7,3.8,6.7,2.2,virginica,2
135,7.7,3.0,6.1,2.3,virginica,2
...,...,...,...,...,...,...
41,4.5,2.3,1.3,0.3,setosa,0
42,4.4,3.2,1.3,0.2,setosa,0
8,4.4,2.9,1.4,0.2,setosa,0
38,4.4,3.0,1.3,0.2,setosa,0
13,4.3,3.0,1.1,0.1,setosa,0

In [29]:
df.isna().sum()

sepal_length      0
sepal_width       0
petal_length      0
petal_width       0
species           0
numeric_specis    0
dtype: int64

In [30]:
import numpy as np
data = {
    'Student_ID': range(101, 121),
    'Score': [85, np.nan, 78, 92, np.nan, 88, 76, np.nan, 95, 89, 77, 82, np.nan, 91, 84, 73, np.nan, 99, 81, 75],
    'Attendance': [90, 80, np.nan, 95, 70, 85, np.nan, 60, 100, 92, 88, np.nan, 75, 80, 85, 90, 95, np.nan, 88, 92]
}

df_new = pd.DataFrame(data)
df_new.isna().sum()

Student_ID    0
Score         5
Attendance    4
dtype: int64

In [31]:
df_null = df_new[df_new.isna().any(axis=1)]  #Filter na values

In [34]:
df.isna()

,sepal_length,sepal_width,petal_length,petal_width,species,numeric_specis
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
145,False,False,False,False,False,False
146,False,False,False,False,False,False
147,False,False,False,False,False,False
148,False,False,False,False,False,False
149,False,False,False,False,False,False

In [35]:
df_new['Score'].fillna(df_new['Score'].mean(),inplace=True)
df_new

/tmp/ipython-input-1228899331.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new['Score'].fillna(df_new['Score'].mean(),inplace=True)

    Student_ID      Score  Attendance
0          101  85.000000        90.0
1          102  84.333333        80.0
2          103  78.000000         NaN
3          104  92.000000        95.0
4          105  84.333333        70.0
5          106  88.000000        85.0
6          107  76.000000         NaN
7          108  84.333333        60.0
8          109  95.000000       100.0
9          110  89.000000        92.0
10         111  77.000000        88.0
11         112  82.000000         NaN
12         113  84.333333        75.0
13         114  91.000000        80.0
14         115  84.000000        85.0
15         116  73.000000        90.0
16         117  84.333333        95.0
17         118  99.000000         NaN
18         119  81.000000        88.0
19         120  75.000000        92.0

In [36]:
df_new.dropna(inplace=True)
df_new.isna().sum()

Student_ID    0
Score         0
Attendance    0
dtype: int64